html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --radius: 8px;
  --black: #333;
  --red: #ff3a3a;
  --grey: #bfbfbf;
  --blue: #2f75ec;
  --green: #93e394;
  --yellow: #fde61b;
  --grey-light: #f0f0f0;
  --border-color: #dedede;
}
